---
Checks: 'clang-analyzer-apiModeling.StdCLibraryFunctions,
         clang-analyzer-core.CallAndMessage,
         clang-analyzer-core.DivideZero,
         clang-analyzer-core.NonNullParamChecker,
         clang-analyzer-core.NullDereference,
         clang-analyzer-core.StackAddressEscape,
         clang-analyzer-core.UndefinedBinaryOperatorResult,
         clang-analyzer-core.uninitialized.*,
         clang-analyzer-cplusplus.InnerPointer,
         clang-analyzer-cplusplus.Move,
         clang-analyzer-cplusplus.NewDelete,
         clang-analyzer-cplusplus.NewDeleteLeaks,
         clang-analyzer-cplusplus.SelfAssignment,
         clang-analyzer-deadcode.DeadStores,
         clang-analyzer-nullability.*,
         clang-analyzer-optin.cplusplus.UninitializedObject,
         clang-analyzer-optin.cplusplus.VirtualCall,
         clang-analyzer-optin.performance.Padding,
         clang-analyzer-security.FloatLoopCounter,
         clang-analyzer-security.insecureAPI.UncheckedReturn,
         clang-analyzer-unix.DynamicMemoryModeling,
         clang-analyzer-unix.Malloc,
         clang-analyzer-unix.MismatchedDeallocator,
         clang-analyzer-unix.cstring.BadSizeArg,
         clang-analyzer-unix.cstring.NullArg,
         readability-*,
         -readability-redundant-access-specifiers'
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*\.(h|cpp|hpp)'
FormatStyle: none
CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StaticMemberCase
    value: camelBack
  - key: readability-identifier-naming.PublicMemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberCase
    value: camelBack
  - key: readability-identifier-naming.ProtectedMemberCase
    value: camelBack
  - key: readability-identifier-naming.FunctionCase
    value: camelBack